/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import './mermaid.css';
@import './code.css';

/* You can override the default Infima variables here. */
:root {
  --marmicode-primary: #380030;
  --ifm-button-color: var(--marmicode-primary);
  --ifm-color-primary: #990a84;
  --ifm-color-primary-dark: #59004d;
  --ifm-color-primary-darker: #49003f;
  --ifm-color-primary-darkest: #380030;
  --ifm-color-primary-light: #36032f;
  --ifm-color-primary-lighter: #48043e;
  --ifm-color-primary-lightest: #490440;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d9adfd;
  --ifm-color-primary-dark: #daabff;
  --ifm-color-primary-darker: #d6a3ff;
  --ifm-color-primary-darkest: #d49fff;
  --ifm-color-primary-light: #c578fd;
  --ifm-color-primary-lighter: #c57bfd;
  --ifm-color-primary-lightest: #c47afa;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

table {
  display: table;
  width: 100%;
}

[role='banner'] button[aria-label='Close'] {
  color: white;
  opacity: 0.7;
}

.footer__copyright {
  color: var(--ifm-color-emphasis-700);
  font-size: 0.9em;
}
