.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  max-width: 240px;
  margin: 2rem auto;
  padding: 1rem;

  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background: #fdfcfb;
}

.link {
  font-size: 0.8rem;
  color: #6f2c91;
  text-decoration: underline;
}

.primary {
  font-size: 0.875rem;
  font-weight: bold;
}

.image {
  border-radius: 4px;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.courseLink {
  text-align: center;
}

.priceInfo {
  color: #666;
  font-size: 0.82rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.launchPrice {
  font-style: italic;
}

.description {
  color: #333;
  font-size: 0.8rem;
  line-height: 1.2;
  margin: 0;
}
